/* default Style */
/* 
  violet: 845cff 
  deafult text color: 525f7f
 */

html {
  font: normal 10px 'Conv_BrownLight Regular', arial, sans-serif;  
  color: #525f7f;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/*  -- default Style */

/* 
  Module Style 
***********************/
p {
  font: normal 2.3rem/32px 'Conv_BrownLight Regular';
  margin-top: 0;
  margin-bottom: 30px;
}

h3 {
  font: normal 4.8rem 'Conv_BrownLight Regular';
  color: #32325d;
  margin-bottom: 20px;
}

h4 {
  font: normal 3.0rem 'Conv_BrownLight Regular';
  margin-bottom: 15px;
  color: #32325d;
}

h5 {
  font: normal 2.3rem 'Conv_BrownLight Regular'; 
  color: #32325d;
}

h6 {
  font: normal 1.6rem 'Conv_BrownLight Regular'; 
}


/* Button */
.button {
  font: bold 1.5rem 'Conv_Brown Bold';
  background: #845cff;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  padding: 14px 25px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 9px -2px rgba(132,92,255,0.5); 
  box-shadow: 0px 5px 9px -2px rgba(132,92,255,0.5);
}

/* Cta Wrapper */
/* .cta-wrapper {
  margin-top: 20px;
} */

.cta-wrapper h5 {
  display: inline-block;
  color: #32325d;
  font: bold 1.9rem 'Conv_BrownLight Regular';
  margin-top: 10px;
  margin-bottom: 10px;
}

.cta-wrapper .button {
  margin-right: 30px;
  margin-bottom: 15px;
}

.cta-wrapper .icon-arrow-right2 {
  margin-left: 6px;
  font-size: 15px;
  color: #32325d;
}

/* Tick list */
.tick-list {
  margin-bottom: 35px;
}

.tick-list li {
  margin-bottom: 15px;
  font: normal 2.0rem 'Conv_BrownLight Regular';
  color: #32325d;
}

.tick-list li::before {
  font-family: 'icomoon';
  content: "\e901";
  color: #7a69e6;
  margin-right: 18px;
}
/*  -- Module Style */

/* 
  Generic Style 
***********************/
body {
  border: 1px solid red;
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.main-header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.menu {
  display: none;
}

.menu li {
  display: inline-block;
  font: bold 1.9rem 'Conv_Brown Bold';
}

.menu li a {
  text-decoration: none;
  color: #32325d;
  padding: 10px 20px;
}

.menu li a:hover {
  background: #845cff;
  color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 9px -2px rgba(132,92,255,0.5); 
  box-shadow: 0px 5px 9px -2px rgba(132,92,255,0.5);
}

.hero-banner {
  margin-bottom: 50px;
}

.hero-banner h2 {
  font: bold 4.8rem 'Conv_Brown Bold';
  color: #32325d;
  margin-bottom: 51px;
}

.promo {
  margin-bottom: 100px;
}

.promo-list li {
  margin-bottom: 60px;
}

.promo-list li img {
  margin: 0 auto 20px auto;
  display: block;
}

/* features */
.features {
  margin-bottom: 150px;
  text-align: center;
}

.features-list {
  margin-top: 100px;
}

.features-list li {
  padding-left: 39px;
  padding-right: 39px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.features-list .icon-feature {
  margin-bottom: 40px;
  width: 80px;
  height: 80px;
  background: transparent url(../images/icon-sprite.png) no-repeat 0 0;
  display: inline-block;
}

.features-list .icon-save {
  background-position: -94px 0;
}

.features-list .icon-trust {
  background-position: -193px 0;
}

.features-list .icon-social{
  background-position: -279px 0;
}

.features-list .icon-activity {
  background-position: 0 -91px;
}

.features-list .icon-journey {
  background-position: -96px -91px;
}

.features-list .icon-timing {
  background-position: -193px -91px;
}

.features-list .icon-live {
  background-position: -279px -91px;
}

.features-list .icon-identification {
  background-position: -0px -189px;
}

.features-list .icon-rules {
  background-position: -96px -189px;
}

.features-list .icon-mobile {
  background-position: -193px -189px;
}

.features-list .icon-language  {
  background-position: -282px -189px;
}

.features-list h5 {
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Services */
.services-list > li {
  width: 100%;
  margin-bottom: 50px;
}

.services-list::after {
  content: "";
  display: block;
  clear: both;
}

.services-list img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.services-list .fianance h4 {
  margin-bottom: 20px;
}

/* contact-us */
.contact-us {
  background: #fafaff;
}

.contact-us img{
  margin-top: 50px;
}

.contact-us h3 {
  margin-top: 15px;
}

.contact-us h5 {
  margin-top: 30px;
  padding-bottom: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Conv_BrownLight Regular';
  font-size: 2.3rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Conv_BrownLight Regular';
  font-size: 2.3rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Conv_BrownLight Regular'; 
  font-size: 2.3rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Conv_BrownLight Regular';
  font-size: 2.3rem;
}

input[type="text"] {
  padding: 15px;
  color: #b3b3cd;
  background: #ffffff;
  font-family: 2.3rem 'Conv_BrownLight Regular';
  border-width: 0;
  border-radius: 5px;
}

.icon-Shape-10 {
  padding: 14px;
  background: #ffffff;
  border-radius: 5px;
  margin-left: -19px;
  font-size: 1.433rem;
  padding-bottom: 17px;
  
}

/* .mail:after {
  content: "\e900";
  color: #845cff;
  font-size: 20px;
  font-family: 'icomoon';
} */

/* footer */
.footer {
  background: #212240;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #d3d3d9;
  font-family: 'Conv_BrownLight Regular';
}

.footer-contact img {
  margin-bottom: 10px;
}

.footer-contact .mobno {
  margin-bottom: -30px;
}

.footer a {
  color: #d3d3d9;
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.footer > p {
  font-family: normal 1.6rem 'Conv_BrownLight Regular';
  margin-top: 50px;
  color: #474668;
}

.icon-social {
  display: inline-block;
  font-size: 15px;
  padding-right: 20px;
  color: #474668;
}

.footer-privacylist a {
  color: #474668;
}

.footer-contact > p:before {
  content: "\e900";
  color: #b3b3cd;
  font-size: 15px;
  font-family: 'icomoon'; 
}

/* .footer-contact p::before {
  content: "\ea92";
  font-size: 16px;
  font-family: 'icomoon';
  color: #b3b3cd;
  padding-right: 10px;
  margin-bottom: 100px;
}

.footer-contact p::before {
  content: "\eab2";
  font-size: 16px;
  font-family: 'icomoon';
  color: #b3b3cd;
  padding-right: 10px;
}

.footer-contact p::before {
  content: "\eab9";
  font-size: 16px;
  font-family: 'icomoon';
  color: #b3b3cd;
  padding-right: 10px;
}

.footer-contact p::before {
  content: "\eaca";
  font-size: 16px;
  font-family: 'icomoon';
  color: #b3b3cd;
  padding-right: 10px;
} */


